body{
    background: rgb(212, 206, 206);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    margin-top: 3em;
}

@media(max-width:768px){
    .container{
        margin: 0 10%;
    }

    .image{
        width: 90%;
    }
}